* {
    box-sizing: border-box;  margin: 0; padding: 0;
}

header {
    background: #F5D033; padding: 0px; margin: 0px; display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center;
}

.navigation-bar {
    float: right; color: black; text-align: center; padding: 20px; display: block; overflow:hidden; align-items: center; display: flex; flex-direction: row;
}

a {
    margin: 15px; font-weight: bold; font-family: Verdana; color:black; text-decoration: none;
}

a.current {
    background-color: #7e1b1b; color: white; padding:10px; border-radius: 10px;
}

#logo {
    width: 300px; height: 80px; overflow: hidden; object-fit: contain;
}

#sign-up {
    color: #F5D033; text-align: center; background-image: url('BookClub.jpg'); background-color: grey; background-blend-mode: multiply; height: 700px; object-fit: cover; background-size: cover;
}

#sign-up-header {
    padding-top: 150px; padding-bottom: 100px; background-size: cover; font-size: 100px; font-family: Verdana;
}

#sign-up-button {
    background-color: #7e1b1b; color: white; border-radius: 20px; font-size: 70px; padding: 30px; font-family: Verdana;
}